.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; 
  height: 0; 
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-video-player-div {
  margin-top: 70px;
  background: #efefef;
  display: flex;
  flex-direction: column;
}

.video-container-style-div {
  padding-left: 7em;
  padding-right: 7em;
  margin: 0 auto;
}

.video-player-editorial-title,
.video-player-editorial-body {
  background: #fff;
  display: flex;
  justify-content: center;
  margin: 1em 7em;
  color: #efefef;
  background-color: #233D51;
}

.video-player-editorial-title {
  flex-direction: column;
}

.video-player-loc-and-date {
  margin-bottom: 1em;
}

.video-player-editorial-title {
  padding: 0em 2em;
}

.video-player-editorial-body {
  padding: 2em 2em;
  line-height: 160%;
}

@media (max-width: 700px) {
  .video-container-style-div {
/*    padding: 0 1em;*/
    padding-left: 1em;
    padding-right: 1em;
  }
  
  .video-player-editorial-title,
  .video-player-editorial-body {
    margin: 1em 1em;
  }

}

/* 

add line height to editorial body
see if title/body/iframe can stay the same width
play with fonts

*/

