.stat-container {
  margin-top: 70px;
}

.trick-key {
  list-style-type: none;
  padding: 1em 1em 1em 1em;
  margin: 1em auto;
  background-color: #efefef;
  border: 1px solid #212f3c;
}   

.trick-key-div {
  display: flex;
  margin-top: 70px;
  margin-bottom: -70px;
  background-color: #efefef;
  display: flex;
  justify-content: center;
}

.slvsh-stats-header {
  font-weight: 800;
}

.stats-key-title,
.trick-key-li-title,
.column-header {
  color: #2c3e50;
}

.column-header:hover {
  font-weight: 800;
}

.-sort-asc {
  font-weight: 800;
  background: linear-gradient(#2c3e50, #efefef);
}

.-sort-desc {
  font-weight: 800;
  background: linear-gradient(#efefef, #2c3e50);
}

.slvsh-stats-header:hover {
  color: #ff0049;
}

.stats-key-title {
  font-weight: 800;
  padding: 0;
  margin: 0;
  margin-bottom: .5em;
  font-size: 18px;
}

.trick-key li {
  text-align: left;
}

.trick-key-li-offense {
  margin-right: .5em;
}

.trick-key-li-defense {
  margin-right: .4em;
}

.trick-key-li-difficulty {
  margin-right: 0em;
}

.trick-key-li-overall {
  margin-right: .8em;
}

.rider-container-card:hover {
  box-shadow: 0px 0px 20px 0px grey;
}

.loading-gif {
  height: 40px;
  width: 40px;
}

@media (max-width: 420px) {
  .trick-key {
    width: 80%;
  }
}