.App {
  text-align: center;
}

header {
  
}

.game-container,
.rider-container {
  display: flex;
  flex-wrap: wrap;
  background: #efefef;
  justify-content: center;
}

.game-container {
  margin-top: 70px;
}

.rider-container {
  border-top: 1px solid #efefef;
}


