.rider-container-card {
  width: 250px;
  height: 500px;
  background: #fff;
  margin: 2em 1em 0em 1em;
}

.rider-card-thumbnail {
  width: 100%;
}

h3,
p {
  margin: .8em 0;
}

.rider-card-info {
  text-align: left;
  padding: .5em 1.5em;
}

.rider-card-stat-title {
  font-weight: 800;
}
