header {
  position: fixed;
  width: 100%;
  z-index: 5;
  top: 0;
  background: #fff;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 20px -6px grey;
/*  opacity: .9;*/
}

.slvsh-logo {
  height: 35px;
  padding: 0 1em 0 0;
}

.nav-btn-div {
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: 7%;
}

.nav-btn,
.login-div label {
  color: #2c3e50;
  font-family: 'Proxima Nova', lucida, helvetica, sans-serif;
  line-height: 47px;
  padding: 0 5px;
  font-weight: 800;
}

.nav-btn:hover {
  color: #ff0049;
}

.login-div {
  margin-right: 7%;
  display: flex;
  align-items: center;
}

.search-div {
  margin-right: .5em;
}
