.footer {
  margin-top: 2em;
  padding: 1em 0em;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.footer-copy {
  color: #a9a9a9;
}

p {
  margin: 0;
}

.social-media-div {
  display: flex;
  width: 100%;
  padding: 1em 0em;
  justify-content: center;
}

.social-media-logos {
  height: 2em;
  width: 2em;
  margin: 0 2em;
}
