.game-container-card {
  width: 400px;
  height: 350px;
  background: #fff;
  margin: 2em 1em 0em 1em;
}

.game-card-image {
  width: 100%;
}

.game-card-info {
  display: flex;
  flex-direction: column;
  padding: 1% 4%;
}

.game-card-title {
  margin-top: 0em;
  margin-bottom: 0;
  padding: 0.2em 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2em;
}

.game-card-loc-date {
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  opacity: 0.6;
}

.game-card-type {
  margin: 0em;
  color: white;
  padding: 3px 10px;
  margin: .3em auto;
  text-transform: uppercase;
}

.slvsh-style,
.film-style,
.instabanger-style {
  font-weight: 800;
}

.slvsh-style {
  background: #53e2ff;
}

.film-style {
  background: black;
}

.instabanger-style {
  background: red;
}
