.page-navigation-button-div {
  background: #efefef;
  padding: 3em 0em 1em 0em;
}

button {
  background: transparent;
  border: none;
  font-weight: 800;
  color: #2c3e50;
  font-size: 16px;
}

.current-page-button {
  color: #ff0049;
}

button:hover {
  color: #ff0049;
}

.game-container-card:hover {
  box-shadow: 0px 0px 20px 0px grey;
}

.loading-gif-div {
  padding: 3em 0em;
  margin: 3em 8em;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}